<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div>
    <label for="hero-power">Add superpower: </label>
    <input id="hero-power" [(ngModel)]="power.superPowerName" placeholder=" Superpower">
    <button type="button" (click)="addPower()">Add</button>
  </div>
  <div *ngIf="hero.powers[0]">
    <h3 *ngFor="let power of hero.powers">
      {{power.superPowerName}}
    </h3>
  </div>
  <button type=" button" (click)="goBack()">go back</button>
</div>
