<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div>
    <label for="hero-power">Add superpower: </label>
    <input id="hero-power" #powerInput [(ngModel)]="hero.powers" placeholder="Superpower">
    <button type="button" (click)="addPower(powerInput.value)">Add</button>
  </div>
  <button type="button" (click)="goBack()">go back</button>
</div>
